<!-- This is a modal popup for editing client -->
<input type="checkbox" id="my-modal-4" class="modal-toggle" />
<label
  for="my-modal-4"
  class="modal cursor-pointer left-[78px] w-[calc(100%-78px)]"
>
  <label
    class="modal-box relative bg-white text-gray max-w-[50rem] scrollbar"
    for=""
  >
    <!-- Add user form -->
    <section class="w-full mx-auto flex text-black">
      <!-- Intro -->
      <div class="w-full flex flex-col">
        <h2>Edit Client</h2>
        <span>Use the below form to edit a client</span>
        <form
          class="flex flex-col items-start w-full"
          action=""
          method=""
          id="editClientsInfoForm"
        >
          <!-- Name -->
          <div class="mb-3 w-full mt-5">
            <label for="name">Name</label>
            <input
              type="text"
              class="w-full bg-white rounded-md border border-lightGray py-2 pl-3 text-black"
              id="ClientsNameInfo"
              name="name"
            />
          </div>
          <!-- Phone -->
          <div class="mb-3 w-full">
            <label for="phone" class="">Phone</label>
            <input
              type="text"
              class="w-full bg-white rounded-md border border-lightGray py-2 pl-3"
              id="ClientsPhoneInfo"
              name="phone"
            />
          </div>
          <!-- Email -->
          <div class="mb-3 w-full">
            <label for="email" class="">Email</label>
            <input
              type="text"
              class="w-full bg-white rounded-md border border-lightGray py-2 pl-3"
              id="ClientsEmailInfo"
              name="email"
            />
          </div>
          <!-- Address -->
          <div class="mb-3 w-full">
            <label for="address" class="">Address</label>
            <input
              type="text"
              class="w-full bg-white rounded-md border border-lightGray py-2 pl-3"
              id="ClientsAddressInfo"
              name="address"
            />
          </div>
          <!-- Radio buttons -->
          <div class="">
            <label for="personOrCompany" class="text-lightGray"
              >Person / Company</label
            >
            <div class="inline">
              <input
                type="radio"
                name="personOrCompany"
                id="radio-2"
                value="Person"
              />
              <label for="radio-2" class="">Person</label>
            </div>
            <div class="inline">
              <input
                type="radio"
                id="radio-3"
                name="personOrCompany"
                value="Company"
              />
              <label for="radio-3" class="">Company</label>
            </div>
          </div>
          <!-- Description -->
          <div class="mb-3 w-full mt-4">
            <label for="description" class="">Description</label>
            <textarea
              type="text"
              class="w-full h-24 bg-white rounded-md border border-lightGray py-2 pl-3"
              id="ClientsDescriptionInfo"
              name="description"
            ></textarea>
          </div>
          <!-- Save / delete buttons -->
          <div class="flex justify-between">
            <button
              class="text-base w-[144px] text-white font-medium cursor-pointer h-auto px-8 py-3 bg-blue rounded-3xl m-none"
              form=""
              id="submitUpdateClientButton"
            >
              Save
            </button>
            <button
              class="text-base w-[144px] text-white font-medium cursor-pointer h-auto px-8 py-3 bg-red-500 rounded-3xl m-none"
              form=""
              id="deleteClientButton"
            >
              Delete
            </button>
          </div>
        </form>
      </div>
    </section>
  </label>
</label>
