<!-- Header -->
<header class="flex shadow-md justify-between items-center h-[50px]">
  <h2 class="pl-5 xs:text-lg sm:text-3xl" id="header-title"></h2>
  <!-- Search box -->
  <div class="relative text-lg w-52 xs:w-32 xs:mr-7 sm:mr-32 md:mr-40">
    <i
      class="fa-solid fa-magnifying-glass absolute z-10 -translate-y-2 pl-2 border-r-2 pr-2"
    ></i>
    <input
      type="text"
      placeholder="Search..."
      name=""
      class="absolute pl-[52px] w-full bg-white shadow-sm shadow-lightGray rounded-sm -top-[14px] md:w-60 sm:w-52"
      id="header-search-bar"
    />
    <div class="searchResultList border-none"></div>
  </div>
</header>
