<!-- sidebar -->
<div class="bg-gray fixed top-0 left-0 h-full px-4 py-2 w-60">
  <!-- logo-content -->
  <div>
    <!-- logo content -->
    <div>
      <!-- logo -->
      <i class="fa-solid fa-bicycle"></i>
      <i class="fa-solid fa-screwdriver-wrench"></i>
      <div>
        <!-- logo name -->
        <div class="text-white">Bike Shop Manager</div>
      </div>
      <i class="fa-solid fa-bars"></i>
    </div>
    <!-- navigation list -->
    <ul>
      <!-- search box -->
      <li>
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" placeholder="Search..." name="" id="" />
      </li>
      <!-- link names -->
      <li>
        <a href="#">
          <i class="fa-solid fa-border-all"></i>
          <span>Work Orders</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa-solid fa-users"></i>
          <span>Clients</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa-solid fa-cart-shopping"></i>
          <span>Sales</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa-solid fa-coins"></i>
          <span>Finance</span>
        </a>
      </li>
    </ul>
    <!-- Profile content -->
    <div>
      <!-- Profile -->
      <div>
        <!-- Profile Details -->
        <div>
          <img src="../../imgs/profilowe.jpg" alt="" />
          <!-- Username and position -->
          <div>
            <div>USERNAME</div>
            <div>JOB</div>
          </div>
        </div>
        <a href="/logout">
          <i class="fa-solid fa-right-from-bracket"></i>
          <span>Logout</span>
        </a>
      </div>
    </div>
  </div>
</div>
