<!DOCTYPE html>
<html lang="en" class="bg-cultured">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bike Shop Manager</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body class="bg-cultured font-defaultFont">
    <!-- nav bar -->
    <%- include('partials/side-navigation.ejs') -%>

    <!-- Content -->
    <section
      class="dashboardContent relative min-h-screen left-[78px] w-[calc(100%-78px)] transition-all duration-500 ease-linear z-10 break-words mr-0 font-defaultFont"
    >
      <!-- Header -->
      <header class="flex shadow-md justify-between items-center h-[50px]">
        <h2 class="pl-5 xs:text-lg sm:text-3xl">Dashboard</h2>
        <!-- Search box -->
        <div class="relative text-lg w-52 xs:w-32 xs:mr-7 sm:mr-32 md:mr-40">
          <i
            class="fa-solid fa-magnifying-glass absolute z-10 -translate-y-2 pl-2 border-r-2 pr-2"
          ></i>
          <input
            type="text"
            placeholder="Search..."
            name=""
            class="text-gray absolute pl-[52px] w-full bg-white shadow-sm shadow-lightGray rounded-sm -top-[14px] md:w-60 sm:w-52"
          />
        </div>
      </header>
      <main class="p-5">
        <!-- Orders notifications -->
        <section
          class="flex sm:flex-row xs:items-center xs:flex-col sm:justify-end"
        >
          <!-- Green notification -->
          <a href="#">
            <div
              class="flex flex-row text-white bg-green-500 h-16 m-5 p-3 rounded-lg w-[200px] xs:m-2"
            >
              <i
                class="fa-solid fa-wrench text-2xl m-1 grow-[1] text-center"
              ></i>
              <div class="flex justify-center flex-col grow-[2] items-center">
                <h3># orders</h3>
                <h3>My orders</h3>
              </div>
            </div>
          </a>

          <!-- Red notification -->
          <a href="#">
            <div
              class="flex flex-row text-white bg-red-500 h-16 m-5 p-3 rounded-lg w-[200px] xs:m-2"
            >
              <i class="fa-solid fa-fire text-2xl m-1 grow-[1] text-center"></i>
              <div class="flex justify-center flex-col grow-[2] items-center">
                <h3># work orders</h3>
                <h3>Urgent</h3>
              </div>
            </div>
          </a>
        </section>

        <!-- Add user form -->
        <section class="w-5/6 bg-red-200 mx-auto mt-20">
          <!-- Intro -->
          <div>
            <h2>New User</h2>
            <span>Use the below form to create a new user</span>
          </div>
        </section>
      </main>
    </section>
    <script src="js/sidenav.js"></script>
  </body>
</html>
