<!DOCTYPE html>
<html lang="en" class="bg-cultured">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bike Shop Manager</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body class="bg-cultured font-defaultFont">
    <!-- nav bar -->
    <%- include('partials/side-navigation.ejs') -%>

    <!-- Content -->
    <section
      class="dashboardContent relative min-h-screen left-[78px] w-[calc(100%-78px)] transition-all duration-500 ease-linear z-10 break-words mr-0 font-defaultFont"
    >
      <!-- Header -->
      <header class="flex shadow-md justify-between items-center h-[50px]">
        <h2 class="pl-5 xs:text-lg sm:text-3xl">Dashboard</h2>
        <!-- Search box -->
        <div class="relative text-lg w-52 xs:w-32 xs:mr-7 sm:mr-32 md:mr-40">
          <i
            class="fa-solid fa-magnifying-glass absolute z-10 -translate-y-2 pl-2 border-r-2 pr-2"
          ></i>
          <input
            type="text"
            placeholder="Search..."
            name=""
            class="text-gray absolute pl-[52px] w-full bg-white shadow-sm shadow-lightGray rounded-sm -top-[14px] md:w-60 sm:w-52"
          />
        </div>
      </header>
      <main class="p-5">
        <!-- Order notifications -->
        <%- include('partials/order-notifications.ejs') -%>
        <!-- Table -->
        <div class="mt-5">
          <!-- STUFF TO DISPLAY -->
          <!-- form handling -->
          <form action="/" method="GET" class="w-full flex">
            <table class="grow">
              <thead class="">
                <tr class="">
                  <th class="table-border-bottom">ID</th>
                  <th class="table-border-bottom">Status</th>
                  <th class="table-border-bottom">Due date</th>
                  <th class="table-border-bottom">Service</th>
                  <th class="table-border-bottom">Client</th>
                  <th class="table-border-bottom">Description</th>
                </tr>
              </thead>
              <tbody>
                <%- include('partials/order-table.ejs') %>
              </tbody>
            </table>
          </form>
        </div>
      </main>
    </section>
    <script src="js/sidenav.js"></script>
    <script src="js/dashboard.js"></script>
  </body>
</html>
