<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bike Shop Manager</title>
    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body class="bg-cultured font-sans">
    <!-- Main -->
    <main>
      <!-- Container -->
      <div
        class="flex justify-center items-center min-h-screen w-full py-8 my-auto drop-shadow-lg"
      >
        <!-- Wrapper -->
        <section class="bg-white max-w-md w-full mx-8 my-auto px-8 py-5">
          <!-- Heading -->
          <div class="">
            <h1 class="text-3xl text-center p-4">
              Welcome to Bike Shop Manager
            </h1>
            <h2 class="p-4 text-xl">Sign In</h2>
            <p class="p-4">
              New User?
              <span
                ><a class="text-blue" href="/signup"
                  >Create new account</a
                ></span
              >
            </p>
          </div>
          <!-- SignIN form -->
          <form action="/login" method="POST" class="w-full h-auto mt-4">
            <!-- Email input -->
            <div class="p-4 flex items-center justify-between mb-2">
              <label for="email" hidden>Email Address</label>
              <input
                type="email"
                name="email"
                placeholder="Email Address"
                class="text-base font-normal w-full h-auto px-3 py-3 bg-sky-100 rounded-3xl"
              />
            </div>
            <!-- Password input -->
            <div class="p-4 flex items-center justify-between mb-2">
              <label for="password" hidden>Password</label>
              <input
                type="password"
                name="password"
                placeholder="Password"
                class="text-base font-normal w-full h-auto px-3 py-3 bg-sky-100 rounded-3xl"
              />
            </div>
            <!-- Submit button -->
            <div class="flex justify-center w-full">
              <button
                class="text-base text-white font-medium cursor-pointer h-auto px-8 py-3 bg-blue rounded-3xl m-none"
                type="submit"
              >
                Submit
              </button>
            </div>
          </form>
        </section>
      </div>
    </main>
  </body>
</html>
