<!DOCTYPE html>
<html lang="en" class="bg-cultured">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bike Shop Manager</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body class="bg-cultured font-defaultFont">
    <!-- nav bar -->
    <%- include('partials/side-navigation.ejs') -%>
    <!-- Content -->
    <section
      class="dashboardContent relative min-h-screen left-[78px] w-[calc(100%-78px)] transition-all duration-500 ease-linear z-10 break-words mr-0 font-defaultFont"
    >
      <!-- Header -->
      <header
        class="flex shadow-md justify-between items-center h-[50px] text-lightGray"
      >
        <h2 class="pl-5 xs:text-lg sm:text-3xl">Add new client</h2>
        <!-- Search box -->
        <div class="relative text-lg w-52 xs:w-32 xs:mr-7 sm:mr-32 md:mr-40">
          <i
            class="fa-solid fa-magnifying-glass absolute z-10 -translate-y-2 pl-2 border-r-2 pr-2"
          ></i>
          <input
            type="text"
            placeholder="Search..."
            name=""
            class="text-gray absolute pl-[52px] w-full bg-white shadow-sm shadow-lightGray rounded-sm -top-[14px] md:w-60 sm:w-52"
          />
        </div>
      </header>
      <main class="p-5">
        <!-- Go back button -->
        <div
          class="bg-green-500 rounded-md w-32 p-2 text-white mt-8 flex justify-center mr-4"
        >
          <a href="/clients">Back</a>
        </div>
        <!-- Add user form -->
        <section class="xs:w-[90%] md:w-1/2 mx-auto mt-20 flex text-lightGray">
          <!-- Intro -->
          <div class="w-full flex flex-col">
            <h2>New Client</h2>
            <span>Use the below form to create a new client</span>
            <form
              class="flex flex-col items-start w-full mt-4"
              action="/createClient"
              method="POST"
            >
              <div class="mb-3 w-full">
                <label for="name">Name</label>
                <input
                  type="text"
                  class="w-full bg-cultured rounded-md border border-lightGray py-1"
                  id="name"
                  name="name"
                />
              </div>
              <div class="mb-3 w-full">
                <label for="phone" class="">Phone</label>
                <input
                  type="text"
                  class="w-full bg-cultured rounded-md border border-lightGray py-1"
                  id="phone"
                  name="phone"
                />
              </div>
              <div class="mb-3 w-full">
                <label for="email" class="">Email</label>
                <input
                  type="text"
                  class="w-full bg-cultured rounded-md border border-lightGray py-1"
                  id="email"
                  name="email"
                />
              </div>
              <div class="mb-3 w-full">
                <label for="address" class="">Address</label>
                <input
                  type="text"
                  class="w-full bg-cultured rounded-md border border-lightGray py-1"
                  id="address"
                  name="address"
                />
              </div>
              <!-- Radio buttons -->
              <div class="">
                <label for="personOrCompany" class="text-lightGray"
                  >Person / Company</label
                >
                <div class="radio inline p-1 border-none">
                  <input
                    type="radio"
                    name="personOrCompany"
                    id="radio-2"
                    value="Person"
                  />
                  <label for="radio-2" class="">Person</label>
                </div>
                <div class="radio inline p-1 border-none">
                  <input
                    type="radio"
                    id="radio-3"
                    name="personOrCompany"
                    value="Company"
                  />
                  <label for="radio-3" class="">Company</label>
                </div>
              </div>
              <div class="mb-3 w-full mt-4">
                <label for="description" class="">Description</label>
                <textarea
                  type="text"
                  class="w-full h-24 bg-cultured rounded-md border border-lightGray py-1"
                  id="description"
                  name="description"
                ></textarea>
              </div>
              <button
                type="submit"
                class="text-base text-white font-medium cursor-pointer h-auto px-8 py-3 bg-blue rounded-3xl m-none"
                value="Save"
              >
                Save
              </button>
            </form>
          </div>
        </section>
      </main>
    </section>
    <script src="js/sidenav.js"></script>
    <script src="js/order-notifications.js"></script>
  </body>
</html>
