<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bike Shop Manager</title>
    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body class="bg-cultured font-sans">
    <!-- Main -->
    <main>
      <!-- Container -->
      <div
        class="flex justify-center items-center min-h-screen w-full py-8 my-auto drop-shadow-lg"
      >
        <!-- Wrapper -->
        <section class="bg-white max-w-md w-full mx-8 my-auto px-8 py-5">
          <% if (locals.messages.errors) { %> <% messages.errors.forEach( el =>
          { %>
          <div class="alert-error"><%= el.msg %></div>
          <% }) %> <% } %> <% if (locals.messages.info) { %> <%
          messages.info.forEach( el => { %>
          <div class="alert-warning"><%= el.msg %></div>
          <% }) %> <% } %>
          <!-- Heading -->
          <div class="">
            <h1 class="text-3xl text-center p-4">Make new account</h1>
            <p class="p-4">
              Log in? <a class="text-blue" href="/">Back to Sign In</a>
            </p>
          </div>
          <!-- SignUP form -->
          <form action="/signup" method="POST" class="w-full h-auto mt-4">
            <!-- Username form -->
            <div class="px-4 py-2 mb-4 flex flex-col">
              <div class="mb-2 px-3">Find unique username</div>
              <label for="userName" hidden>Username</label>
              <input
                class="text-base font-normal w-full h-auto px-3 py-3 bg-sky-100 rounded-3xl"
                type="text"
                name="userName"
                id="userName"
                placeholder="Username"
              />
            </div>
            <!-- Email Form -->
            <div class="px-4 py-2 flex mb-4 flex flex-col">
              <div class="mb-2 px-3">Enter your email</div>
              <label for="email" hidden>Email address</label>
              <input
                class="text-base font-normal w-full h-auto px-3 py-3 bg-sky-100 rounded-3xl"
                type="text"
                name="email"
                id="email"
                placeholder="Email Address"
              />
            </div>
            <!-- Password form -->
            <div class="px-4 py-2 flex mb-4 flex flex-col">
              <div class="mb-2 px-3">
                Make at least 8 characters long password
              </div>
              <label for="password" hidden>Password</label>
              <input
                class="text-base font-normal w-full h-auto px-3 py-3 bg-sky-100 rounded-3xl"
                type="password"
                name="password"
                id="password"
                placeholder="Password"
              />
            </div>
            <!-- Confirm Password Form -->
            <div class="px-4 py-2 flex mb-4 flex flex-col">
              <div class="mb-2 px-3">Confirm your password</div>
              <label for="confirmPassword" hidden>Confirm Password</label>
              <input
                class="text-base font-normal w-full h-auto px-3 py-3 bg-sky-100 rounded-3xl"
                type="password"
                name="confirmPassword"
                id="confirmPassword"
                placeholder="Confirm Password"
              />
            </div>
            <div class="flex justify-center w-full">
              <button
                class="text-base font-medium cursor-pointer h-auto px-8 py-3 bg-blue rounded-3xl m-none"
                type="submit"
              >
                Submit
              </button>
            </div>
          </form>
        </section>
      </div>
    </main>
  </body>
</html>
