@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hamburger {
    @apply absolute text-white left-1/2 top-[6px] text-[20px] h-[50px] w-[50px] text-center leading-[50px] -translate-x-1/2;
  }
  .side-nav-li {
    @apply relative h-[50px] w-full mx-[5px] list-none leading-[50px];
  }
  .side-nav-li-a {
    @apply text-white flex items-center no-underline transition-all duration-300 ease-linear whitespace-nowrap rounded-xl;
  }
  .side-nav-li-icon {
    @apply h-[50px] min-w-[50px] rounded-xl leading-[50px];
  }
  .sidebar.sidenavActive {
    @apply w-[240px];
  }
  .sidebar.sidenavActive .fa-bicycle {
    @apply opacity-100 pointer-events-none;
  }
  .sidebar.sidenavActive #btn {
    @apply left-[90%];
  }
  .sidebar.sidenavActive .logoName {
    @apply opacity-100;
  }
  .sidebar.sidenavActive #searchTooltip {
    display: none;
  }
  .sidebar.sidenavActive .linkName {
    @apply opacity-100 pointer-events-auto;
  }
  .tooltipHover {
    @apply absolute left-[122px] top-0 -translate-y-1/2 -translate-x-1/2 rounded-xl h-[35px] w-[122px] bg-white leading-9 text-center shadow-md opacity-0 pointer-events-none block;
  }
  .sidebar ul li:hover .tooltipHover {
    @apply transition-all duration-500 ease-linear opacity-100 top-1/2;
  }
  .sidebar.sidenavActive .navbarProfileContent {
    @apply opacity-100 pointer-events-auto;
  }
  .sidebar.sidenavActive .navbarLogoutIcon {
    @apply left-[88%];
  }
  .sidebar.sidenavActive ~ .dashboardContent {
    width: calc(100% - 240px);
    left: 240px;
  }
}
