@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* ======================= */
  /* Hamburger styling */
  /* ======================= */

  .hamburger {
    @apply absolute text-white left-1/2 top-[6px] text-[20px] h-[50px] w-[50px] text-center leading-[50px] -translate-x-1/2;
  }

  /* ======================= */
  /* Sidenav styling */
  /* ======================= */
  .side-nav-li {
    @apply relative h-[50px] w-full mx-[5px] list-none leading-[50px];
  }
  .side-nav-li-a {
    @apply text-white flex items-center no-underline transition-all duration-300 ease-linear whitespace-nowrap rounded-xl;
  }
  .side-nav-li-icon {
    @apply h-[50px] min-w-[50px] rounded-xl leading-[50px];
  }
  .sidebar.sidenavActive {
    @apply w-[240px];
  }
  .sidebar.sidenavActive .fa-bicycle {
    @apply opacity-100 pointer-events-none;
  }
  .sidebar.sidenavActive #btn {
    @apply left-[90%];
  }
  .sidebar.sidenavActive .logoName {
    @apply opacity-100;
  }
  .sidebar.sidenavActive #searchTooltip {
    display: none;
  }
  .sidebar.sidenavActive .linkName {
    @apply opacity-100 pointer-events-auto;
  }

  /* ======================= */
  /* Tooltip displayed when hover over sidenav list items */
  /* ======================= */
  .tooltipHover {
    @apply left-[110%] absolute rounded-xl h-[35px] w-[122px] bg-white leading-9 text-center opacity-0 shadow-md pointer-events-none;
  }

  .side-nav-li:hover .tooltipHover {
    @apply transition-all duration-500 ease-linear opacity-100 top-[20%] pointer-events-auto;
  }
  .sidebar.sidenavActive ul li:hover .tooltipHover {
    @apply opacity-0;
  }

  /* ======================= */
  /* Sidebar bottom profile content */
  /* ======================= */
  .sidebar.sidenavActive .navbarProfileContent {
    @apply opacity-100 pointer-events-auto;
  }
  .sidebar.sidenavActive .navbarLogoutIcon {
    @apply left-[88%];
  }
  .sidebar.sidenavActive ~ .dashboardContent {
    width: calc(100% - 240px);
    left: 240px;
  }

  /* ======================= */
  /* Add border line to the side of table */
  /* ======================= */

  .table-border-left {
    border-left: 2px solid gray;
  }
  .table-border-right {
    border-right: 2px solid gray;
  }
  .table-border-bottom {
    border-bottom: 2px solid gray;
  }

  /* ======================= */
  /* Date form styling to make form clickable everywhere */
  /* ======================= */
  input[type="date"] {
    position: relative;
  }

  /* create a new arrow, because we are going to mess up the native one */
  input[type="date"]:after {
    content: "\25BC";
    color: #555;
    padding: 0 5px;
  }

  /* change color of symbol on hover */
  input[type="date"]:hover:after {
    color: blue;
  }

  /* make the native arrow invisible and stretch it over the whole field so you can click anywhere in the input field to trigger the native datepicker*/
  input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    color: transparent;
    background: transparent;
  }

  /* adjust increase/decrease button */
  input[type="date"]::-webkit-inner-spin-button {
    z-index: 1;
  }

  /* adjust clear button */
  input[type="date"]::-webkit-clear-button {
    z-index: 1;
  }

  /* ======================= */
  /* Search bar - styling for new divs when fetched clients */
  /* ======================= */
  .searchResultList {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
  }
  .searchResultList div {
    padding: 5px;
  }
  .searchResultList div:hover {
    background-color: #f7f4f3;
  }
}
